body{
    background-color: rgb(232, 60, 137);
}
.div1{
    width: 30%;
    height: 40vh;
    margin-left:400px;
    margin-top: 160px;
    padding: 10px 10px 10px 20px;
    background-color: pink;
    border: none;
    box-shadow: 0px 0px 8px 0px ;
    border-radius: 10px;

}
textarea{
    padding: 20px;
}
.div2 {
     display: flex;
     justify-content: space-between;
}
#total-character{
    color: blueviolet;
}
#Remaining-character{
    color: orangered;
    margin-right: 20px;
}